<!DOCTYPE html>
<html>

<head>
    <!-- FAVICON -->
    <link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/svg+xml" href="/static/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/static/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png" />
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    
    <title>Grazie!</title>
</head>

<body>
    <h2>✅ Pagamento completato!</h2>
    <p>Grazie per il tuo abbonamento. Riceverai una conferma via email.</p>
</body>

</html>